/*
Custom Css
*/


/* NOTE: added to prevent active highlighting */
.btn {
  outline: none;
  box-shadow: none !important;
}

.form-control {
  outline: none;
  box-shadow: none !important;
}

/* NOTE: Added Copied from templatemo.css */
/* NOTE: Card Name in Carousel */
.gsc-carousel-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
  font-weight: 500;
}

.gsc-carousel-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 14px !important;
  font-weight: 300;
  text-align: justify;
}


.gsc-beckett-font {
  font-family: alliance-bold, sans-serif;
  color: #54c4c8;
  text-transform: uppercase !important;
  text-decoration: none;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.gsc-beckett-font a {
  font-family: alliance-blod, sans-serif;
  text-decoration: none;
  /* Remove underlines for links */
  font-weight: bold;
  text-transform: uppercase;
  font-size: inherit !important;
  color: inherit;
}

.popup-container {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.popup-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  width: 240px;
  /* Adjust this value to your desired width */
  font-size: 11px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: justify !important;
}

.gsc-gallery {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 20px);
  justify-content: center;
  padding: 0px;
  margin-left: 0px;
  background-color: white !important;
  /* Set a light background color */
  color: black;
}


.gsc-gallery-item {
  /* Add a thin border around the gallery item */
  margin: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 250px;
  /* Set the width of the container */
  height: 525px;
  /* Set the height of the container */
  border: 1px solid #ddd;
  /* Light border color */
  /* border-radius: 10px;
  /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(40, 36, 44, 0.2);
  /* Bottom shadow */
}

/* Add specific styles for the button in your gallery items */
.gsc-gallery-item .btn {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  color: white !important;
  font-weight: 600 !important;
  width: 100% !important;
}


/* Style for the container div */
.gsc-img-ungraded {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  /* Set the width of the container */
  height: 240px;
  /* Set the height of the container */
  background-color: #4a5b85;
  background-size: cover;
  /* Ensure the background image covers the entire container */
  background-position: center;
  /* Center the background image within the container */
  border-radius: 10px 0 0;
  /* Optional: Add rounded corners */
  position: relative;
  /* Add position relative for overlay positioning */
}

.gsc-img-graded {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  /* Set the width of the container */
  height: 240px;
  /* Set the height of the container */
  background-color: black;
  background-size: cover;
  /* Ensure the background image covers the entire container */
  background-position: center;
  /* Center the background image within the container */
  border-radius: 10px 0 0;
  /* Optional: Add rounded corners */
  position: relative;
  /* Add position relative for overlay positioning */

}

.gsc-gallery-desc {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 210px;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
  /* font-size: 12px !important;;
  color: black; Add a color property to ensure text is visible */

}

.gsc-gallery-desc-title {
  font-size: 12px !important;
  ;
  color: black;
  /* Add a color property to ensure text is visible */
  font-weight: 500 !important;
}

.gsc-gallery-desc-text {
  font-size: 12px !important;
  ;
  color: black;
  /* Add a color property to ensure text is visible */
  font-weight: 300 !important;
}


.popup-container {
  position: relative;
  display: inline-block;
}

.popup-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  width: 240px;
  /* Adjust this value to your desired width */
  font-size: 11px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  text-align: justify !important;
}

.popup-container:hover .popup-content {
  display: block;
}


/* Add custom CSS to increase the border weight for the input */
#inputSearch {
  border-width: 1px !important;
  /* Adjust the border width as needed */
  border-color: lightgrey !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

.gsc-footer-text {
  font-size: 14px !important;
  text-align: left !important ;
}

.gsc-footer-li {
  font-size: 14px !important;
}

.gsc-footer-ul {
  font-size: 14px !important;
}

.gsc-footer-copyright {
  font-size: 14px !important;
  text-justify: left;
}


@media (max-width: 576px) {
  .carousel-item .container {
      height: auto; /* Set height to auto for small screens */
  }
}

@media (min-width: 577px) {
  .carousel-item .container {
      height: 600px; /* Set height to 600px for screens larger than 576px */
  }
}
