/* Typography */

body, ul, li, p, a, label, input, div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.text-light { color: #cfd6e1 !important;}

.btn {
  outline: none;
  box-shadow: none !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}

/* Override Bootstrap's disabled button styles */
.feature-btn{
  opacity: 1 !important; /* Keep opacity at 1 to maintain brightness */
  pointer-events: none !important; /* Allow pointer events */
  filter: brightness(100%) !important; /* Keep full brightness */
  /* Optionally, you can also adjust other styles such as background-color */
  /* background-color: #your-desired-color; */
}


/* Top Banner Message */

#top-banner {
  background-color: #1D2731;
  height: 45px;
  justify-content: space-between !important;
}

#top-banner a {
  text-decoration: none ;
}

#Banner-Message {
  font-family: "Bebas Neue", sans-serif !important;
  color: #d9b310 !important;
  text-decoration: none !important;
  font-size: 20px !important;
}

#logo-written {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #1d2731;
  font-weight: 300;
  position: relative;
  bottom: 0;
  font-stretch: ultra-condensed !important;
  }

.form-control {
  outline: none;
  box-shadow: none !important;
}

/* Header */

#searchform {
  display: flex !important;
}



#inputSearch {
  border-width: 1px !important;
  /* Adjust the border width as needed */
  border-color: lightgrey !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  height: 15px !important;
}

#navLink {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 20px !important;
  color: #1d2731;
}

#navLink:hover {
  color: #d9b310; /* Hover color */
}

#nav-btn {
  outline: none;
  box-shadow: none !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 28px !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

#navBTN {
  margin-left: 0 !important; /* Remove margin */
  border-top-left-radius: 0 !important; /* Optionally remove border-radius */
  border-bottom-left-radius: 0 !important; /* Optionally remove border-radius */
  height: 31px !important;
}

#navBTN:hover {
  background-color: #d9b310;; /* Hover color */
  border-color: #d9b310;
  color: black;
}

/* Header Logo */
.bordered {
  background-color: white;
  border-image-source: url("https://i.stack.imgur.com/s2CAw.png");
  border-image-slice: 1;
  border-image-width: 3px;
  padding: 30px;
}






.popover {
  border-radius: 0;
}
.popover-header {
  border-radius: 0;
  display: flex;
  color: white;
  font-size: 12px;
  background-color:#2d343f ;
  align-items: center;
  justify-content: center;
}
.popover-body {
  color: black;
  font-size: 11px;
}









/* Footer */
#footer {
  background-color: #1D2731 !important;
}
#footer a { color: #dcdde1;}
#footer a:hover { color: #d9b310;}
#footer ul.footer-link-list li { padding-top: 10px;}
#footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#footer ul.footer-icons li:hover {
  background-color: #d9b310;
  transition: .5s;
}
#footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}

.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

.dropdown-menu .dropdown-item {
  padding: 2px !important; /* Adjust the padding as needed */
  text-align: center;
}

.dropdown-menu .dropdown-item img {
  display: inline-block; /* Ensure image is displayed as inline-block */
  max-width: auto;
  height: 50% !important;
}

/* Default styles for the card */
.card {
  border-radius: 0rem;
  height: auto; /* Default height */
  width: auto;
  }



/* Adjustments for small screens */
@media (max-width: 576px) {
  .card {
    height: auto; /* Let the height adjust based on content */
    width: auto;
  }
  .card img {
    height: 100%; /* Make the image fill the height of the container */
    width: 100%; /* Ensure the image fills the width of the container */
    object-fit: scale-down; /* Maintain the aspect ratio and cover the container */
    border-radius: 0; /* Remove border radius for the image */
  }
}

  /* Adjustments for medium screens */
  @media (min-width: 577px) and (max-width: 992px) {
    .card {
      height: auto; /* Adjust the height for medium screens */
    }
    .card img {
      height: 100%; /* Make the image fill the height of the container */
      width: 100%; /* Ensure the image fills the width of the container */
      object-fit: scale-down; /* Maintain the aspect ratio and cover the container */
    }
  }

    /* Adjustments for large screens */
@media (min-width: 993px) {
  .card {
    height: auto; /* Adjust the height for large screens */
  }
  .card img {
    height: 100%; /* Make the image fill the height of the container */
    width: 100%; /* Ensure the image fills the width of the container */
    object-fit: scale-down; /* Maintain the aspect ratio and cover the container */
  }
}
